<nav class="m-pagination col-md-8 col-md-offset-2 col-sm-24" role="pagination">
    <% if (page.prev) { %>
    <a class="pull-left" href="<%- url_for(page.prev.path) %>" style="float: left;">
        ← <%- page.prev.title %>
    </a>
    <% } %>
    <% if (page.next) { %>
    <a class="pull-right" href="<%- url_for(page.next.path) %>">
        <%- page.next.title %> →
    </a>
    <% } %>
</nav>
