/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Includes
    1.  Icons
    2.  General
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)

 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */
@import url(normalize.css);
/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */
@font-face { font-family: 'icons'; src: url('../fonts/icons.eot'); src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),  url('../fonts/icons.woff') format('woff'),  url('../fonts/icons.ttf') format('truetype'),  url('../fonts/icons.svg#icons') format('svg'); font-weight: normal; font-style: normal; }
/* Apply these base styles to all icons */
.icon-ghost:before, .icon-feed:before, .icon-twitter:before, .icon-google-plus:before, .icon-facebook:before, .icon-sina-weibo{ font-family: 'icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; text-decoration: none; }
/* Each icon is created by inserting the corret character into the
   content of the :before pseudo element. Like a boss. */
.icon-ghost:before { content: "\e000"; }
.icon-feed:before { content: "\e631"; }
.icon-twitter:before { content: "\e630"; font-size: 1.1em; }
.icon-google-plus:before { content: "\e62d"; }
.icon-facebook:before { content: "\e62f"; }
.icon-sina-weibo:before { content: "\e666";font-size: 1.1em; }
/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */